[Unit]
Description=My Camera eye
After=network.target

[Service]
ExecStart=/home/pi/pi_camera/venv/bin/python3 -u app/streaming.py
WorkingDirectory=/home/pi/pi_camera
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target